{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4 d-flex align-items-center">
            <img class="thumbnail" src="{{ product.imageURL }}">
            <div class="box-element product">
                <h6><strong>{{ product.name }}</strong></h6>
                <hr>
                <h4 style="display:inline-block; margin-right: 0; margin-left: auto;"><strong>£{{ product.price|floatformat:2 }}</strong></h4>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}